/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require less/flat-ui-pro
 *= require animate
 *= require custom-animate
 *= require devise
 *= require app
 *= require footer
 *= require top-navbar
 *= require users
 *= require_self
 */

ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
  position: relative;
  right: 0;
  -webkit-transition: right .3s;
  transition: right .3s;
}

body.open {
  right: 250px;
}

ol, ul {
	list-style: none;
}

body {
  font-family: 'Montserrat', serif;
	/* background-color: #00CDAE; */
}

.header {
  margin-bottom: 40px;
  position: relative;
}
.clearfix {
  clear: both;
}

.container {
  position: relative;
  padding: 40px 10%;
  text-align: center;
  height: 100%;
}

a.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 23px;
}

ul.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #444;
  z-index: -1;

  -webkit-transition: right .3s;
  transition: right .3s;
}
ul.side-menu.open {
  right: 0;
}
ul.side-menu li {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0 20px;
  text-align: left;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #555;

  -webkit-transition: top .3s;
  transition: top .3s;
}
ul.side-menu li.row {
  border: 0;
  position: static;
  top: 0;
  height: 0;
  -webkit-transition: none;
  transition: none;
}

ul.side-menu h2.title {
  text-align: left;
  padding: 0 20px;
  position: relative;
  top: -60px;
  font-size: 23px;
  line-height: 60px;
  height: 60px;
  background-color: #555;

  -webkit-transition: top .3s;
  transition: top .3s;
}
ul.side-menu li a {
  display: block;
  font-size: 12px;
  padding: 0;
  margin: 0;
  height: inherit;
  line-height: inherit;
}
