<div class="left pull-left avatar">
  <img class="img-circle" src="/assets/girl.svg" alt="Girl" width="120" height="120">
</div>
<div class="right pull-left user-info">
  <div class="name">
    左永辉女<a href="/users/1/edit"><span class="glyphicon glyphicon-edit"></span></a>
  </div>
  <div class="contact">
    <div class="email">
      <span class="desc">邮箱</span><span class="content">zuozuo@zuozuo.com</span>
    </div>
    <div class="phone">
      <span class="desc">电话</span><span class="content">18601257148</span>
    </div>
    <div class="weixin">
      <span class="desc">微信</span><span class="content">zuo_zuo_hui</span>
    </div>
  </div>
</div>
<div class="clearfix"></div>
